<div class="paragraph-style">

  <h2>Comprendre - Agir</h2>

  <h3>Sécurité</h3>
    <p>L'omniprésence des cyberattaques est alimentée par le rythme de croissance effréné de l'innovation et du changement. L’augmentation de risque causée par la fraude et l'insécurité en ligne peut être atténuée.
    <br>
    <br><a href="mailto:contact@dario.com">La sécurité est une exigence commerciale.</a></p>

  <h3>Vie Privée</h3>
    <p>La protection des données privées est beaucoup plus qu’une question de conformité ou d’éviter les amendes. Les organisations qui montrent qu’elles accordent de l’importance au respect du droit à la vie privée bénéficient d’un avantage concurrentiel.
    <br>
    <br><a href="mailto:contact@dario.com">La protection de la vie privée est un impératif commercial.</a></p>

  <hr />
</div>
