<div class="paragraph-style">
  <h2>Comprendre - Agir</h2>

  <p>L'omniprésence des cyberattaques est alimentée par le rythme de croissance effréné de l'innovation et du changement. L’augmentation de risque causée par la fraude et l'insécurité en ligne peut être atténuée.
    <br>
    La sécurité est une exigence commerciale.</p>

  <!-- <hr /> -->

  <!-- <h2>Confidentialité - Confiance</h2> -->

  <p>Les inquiétudes sur la façon dont les technologies de l'information peuvent affecter la vie privée exige l'élaboration d'approches cohérentes pour obtenir des principes de confidentialité de haut niveau.
    <br>
    La protection de la confidentialité est un facteur de différenciation concurrentiel.</p>

  <hr />
</div>
