<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>dario &#8226; {{ site.dario.author | strip_html }}</title>

  <link rel="apple-touch-icon" href="{{ site.chklst.logo }}"/>
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="{{ site.url }}/favicon.ico"/>

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <meta name="language" content="fr">
  <meta name="author" content="dario">
  <meta name="description" content="La sécurité est une exigence commerciale. La protection de la vie privée est un impératif commercial."/>
  <meta name="robots" content="index, follow">
  <meta name="keywords" content="sécurité, vie privée, protection, confidentialité, données, renseignements personnels, personne physique, identifier, internet, normes, web, cloud, informatique, information, solutions, services, dario, dario.com, dario.site">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary" />
  <!-- <meta name="twitter:card" content="summary_large_image"> -->
  <meta name="twitter:site" content="@darioSecurity">
  <meta name="twitter:title" content="dario &#8226; {{ site.dario.author | strip_html }}">
  <meta name="twitter:description" content="La sécurité est une exigence commerciale. La protection de la vie privée est un impératif commercial.">
  <meta name="twitter:creator" content="dario">
  <!--Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}{{ site.dario.logo }}"/>


  <!-- Open Graph data -->
  <meta property="og:title" content="dario &#8226; {{ site.dario.author | strip_html }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url | strip_html }}"/>
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ site.dario.logo }}"/>
  <meta property="og:description" content="La sécurité est une exigence commerciale. La protection de la vie privée est un impératif commercial."/>
  <meta property="og:site_name" content="dario &#8226; {{ site.dario.author | strip_html }}"/>


  {% if site.dario.include_analytics %}
  {% include analytics.html %}
  {% endif %}
</head>
